{% load static %}

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <script src="{% static 'js/jquery.min.js' %}" defer></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block customcss %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% block customnavbar %}
        {% endblock %}
    </div>
</nav>
<div class="ms-3 me-3">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>