SECRET_KEY="{{SECRET_KEY}}"
DEBUG={{DEBUG}}

#Languageandtimezone
LANGUAGE_CODE="{{LANGUAGE_CODE}}"
TIME_ZONE="{{TIME_ZONE}}"


#Database
MAIN_DATABASE_ENGINE="{{MAIN_DATABASE_ENGINE}}"
MAIN_DATABASE_NAME="{{MAIN_DATABASE_NAME}}"
MAIN_DATABASE_USER="{{MAIN_DATABASE_USER}}"
MAIN_DATABASE_PASSWD="{{MAIN_DATABASE_PASSWD}}"
MAIN_DATABASE_HOST="{{MAIN_DATABASE_HOST}}"
MAIN_DATABASE_PORT="{{MAIN_DATABASE_PORT}}"
