asgiref==3.12.1
black==26.5.1
click==8.4.2
colorama==0.4.6
Django==6.1
Markdown==3.10.3
markdown2==2.5.5
mypy-extensions==1.1.0
mysqlclient==2.2.8
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.5
Pygments==2.21.0
python-decouple==3.8
sqlparse==0.6.0
tomli==2.4.1
typing_extensions==4.16.0
tzdata==2026.3
