asgiref==3.11.1
black==26.3.1
click==8.3.1
colorama==0.4.6
Django==6.0.3
Markdown==3.10.2
markdown2==2.5.5
mypy-extensions==1.1.0
mysqlclient==2.2.8
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
Pygments==2.19.2
python-decouple==3.8
sqlparse==0.5.5
tomli==2.4.1
typing_extensions==4.15.0
tzdata==2025.3
